{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block style %}
#wisdomHandbook{
border: 5px solid green
}

body{
background-image:url(/static/Christmas.jpg);
background-size: cover;
position: absolute;
width: 100%;
height: 100vh"
}

#wisdomHandbook{
background-color: rgba(0, 0, 0, 0.3);
}

h1, h2, label, div{
color: white
}

.col-sm{
text-align: center
}

progress{
width: 100%
}

.slider {
-webkit-appearance: none;
width: 100%;
height: 25px;
background: rgba(0, 0, 0, 0.3);
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
background: #4CAF50;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
background: #4CAF50;
cursor: pointer;
}

.ha{
display: grid;
align-content: space-evenly;
grid-template-columns: auto auto auto auto;
grid-gap: 10px;
text-align: center;

}


{% endblock %}


{% block main %}
<div class="container-fluid">
    <div>
        <h1 id="data">

        </h1>
        <canvas id="myCanvas" width="200" height="100" style="border:1px solid #c3c3c3;">
            Your browser does not support the canvas element.
        </canvas>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

    const canvas = document.getElementById('myCanvas');
    const context = canvas.getContext('2d');
    const radius = 10;
    // context.fillStyle = "#FF0000";
    // context.fillRect(0, 0, 150, 75);
    function update() {
        $.ajax({
            url: "/api/getRobotInfo",
            success: function (response) {
                for (key in response) {
                    $("#data").text(response[key])
                    context.beginPath();
                    context.arc(response[key], centerY, radius, 0, 2 * Math.PI, false);
                    context.fillStyle = 'green';
                    context.fill();
                    context.lineWidth = 5;
                    context.strokeStyle = '#003300';
                    context.stroke();
                }
            },
        });
    }
    setInterval(update, 100);
</script>



{% endblock %}